<!DOCTYPE html>
<html lang="en">
<head>
    {inclfrag|head}
    <title>Bags | {$config->title}</title>
</head>
<body>
{inclfrag|header}

<h1>Bags</h1>

<table class="table">
    <thead>
        <tr>
            <th>Bag Name</th>
            <th># Items</th>
            <th># Clients</th>
            <th>Cost</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {foreach($bags as $bag)}<tr>
            <td>{$bag->name}</td>
            <td>{count($bag->holds)}</td>
            <td>{count($bag->clients)}</td>
            <td>{$bag->cost}</td>
            <td><a href="edit?name={urlencode($bag->name)}" type="button" class="btn btn-success btn-sm">View/Edit <span class="glyphicon glyphicon-chevron-right"></span></a></td>
        </tr>{endforeach}
        {if(!$bags)}<tr>
            <td colspan="5"><div class="alert alert-info">No bags</div></td>
        </tr>{endif}
</table>

{inclfrag|footer}
</body>
</html>
