<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Food Pantry</a>
        </div>
        
        {if(!$user)}<form class="navbar-form navbar-right" role="form" action="/login-post" method="post">
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Log In</button>
        </form>
        {else}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Log out</a></li>
        </ul>{endif}
    </div>
</nav>
<div class="container">
{if($breadcrumbs)}<ol class="breadcrumb">
    {foreach ($breadcrumbs as $crumb)}<li>{if(!$crumb['active'])}<a {if($crumb['active'])}class="active"{endif} href="{$crumb['href']}">{endif}{$crumb["text"]}{if(!$crumb['active'])}</a>{endif}</li>{endforeach}
</ol>{endif}
{foreach(get_flash("success") as $message)}<div class="alert alert-success">{h|$message}</div>{endforeach}
{foreach(get_flash("info") as $message)}<div class="alert alert-info">{h|$message}</div>{endforeach}
{foreach(get_flash("warning") as $message)}<div class="alert alert-warning">{h|$message}</div>{endforeach}
{foreach(array_merge(get_flash("danger"), get_flash("error")) as $message)}<div class="alert alert-danger">{h|$message}</div>{endforeach}
